.sr-only {
  display: none;
}

.circle-magic-kingdom {
  fill: none;
  stroke: red;
  stroke-width: 5px;
  /* animation: AnimationName 29s ease infinite; */
  animation: MagicKingdom infinite 5s;
  transition: stroke-width .5s;
}

.circle-magic-kingdom:hover {
  stroke-width: 15px;
}

.lineReverse {
  stroke-width: 2px;
  stroke: #fffe33;
  stroke-dasharray: 5 10 15;
  stroke-dashoffset: 400;
  animation: dash 15s linear reverse infinite;
}
.lineForward {
  stroke-width: 2px;
  stroke: #fffe33;
  stroke-dasharray: 15 10 5;
  stroke-dashoffset: 400;
  animation: dash 15s linear forwards infinite;
}
.notMoving {
  stroke: lightgreen;

}
.lineStatic {
  stroke: blue;

}
@keyframes dash {
  
  to {
    stroke-dashoffset: 0;
  }
}

.linePost {
  fill-opacity: 0.65;
  fill: #d1d1d1;
	stroke-width: 1px;
	opacity: 1;
  stroke: #000000;
  stroke-opacity: 1;
}
.building {
  fill-opacity: 0.6;
  fill: #964B00;
	stroke-width: 1px;
	opacity: 1;
  stroke: #000000;
  stroke-opacity: 1;
}
.solarBuildingGn {
  fill-opacity: 0.6;
  fill: #fffe33;
	stroke-width: 2px;
	opacity: 1;
  stroke: #00FF00;
  stroke-opacity: 1;
  /* box-shadow: 0px 0px 20px 10px #48abe0;
  animation: shadows 1.5s infinite; */
  filter: drop-shadow(0px 5px 10px rgb(0, 255, 0));
  animation: greenshadow 1.5s infinite; 
}
.solarBuildingRd {
  fill-opacity: 0.6;
  fill: #fffe33;
	stroke-width: 2px;
	opacity: 1;
  stroke: #ff0000;
  stroke-opacity: 1;
  /* box-shadow: 0px 0px 20px 10px #48abe0;
  animation: shadows 1.5s infinite; */


  filter: drop-shadow(0px 5px 10px rgb(255, 0, 0));
  animation: redshadow 1.5s infinite; 
}
.t3 {
  fill-opacity: 0.65;
  fill: #ff0000;
	stroke-width: 2px;
	opacity: 1;
  stroke: #000000;
  stroke-opacity: 1;
}
.t1 {
  fill-opacity: 0.65;
  fill: #0051fffb;
	stroke-width: 2px;
	opacity: 1;
  stroke: #000000;
  stroke-opacity: 1;
}
.bigCirc {
  fill-opacity: 0.3;
  fill: #000000;
	stroke-width: 2px;
	opacity: 1;
  stroke: #000000;
  stroke-opacity: 1;
}

.button:hover {
  stroke: red;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes redshadow {
  0% {
    filter: drop-shadow(0px 5px 10px rgb(255, 0, 0, 0.1));
    stroke-opacity: 0.1;
  }

  10% {
    filter: drop-shadow(0px 5px 10px rgb(255, 0, 0, 0.2));
    stroke-opacity: 0.2;
  }

  20% {
    filter: drop-shadow(0px 5px 10px rgb(255, 0, 0, 0.3));
    stroke-opacity: 0.3;
  }

  30% {
    filter: drop-shadow(0px 5px 10px rgb(255, 0, 0, 0.4));
    stroke-opacity: 0.4;
  }

  40% {
    filter: drop-shadow(0px 5px 10px rgb(255, 0, 0, 0.5));
    stroke-opacity: 0.5;
  }
  50% {
    filter: drop-shadow(0px 5px 10px rgb(255, 0, 0, 0.6));
    stroke-opacity: 0.6;
  }
  60% {
    filter: drop-shadow(0px 5px 10px rgb(255, 0, 0, 0.7));
    stroke-opacity: 0.7;
  }
  70% {
    filter: drop-shadow(0px 5px 10px rgb(255, 0, 0, 0.8));
    stroke-opacity: 0.8;
  }
  80% {
    filter: drop-shadow(0px 5px 10px rgb(255, 0, 0, 0.9));
    stroke-opacity: 0.9;
  }
  90% {
    filter: drop-shadow(0px 5px 10px rgb(255, 0, 0, 0.95));
    stroke-opacity: 0.95;
  }
  100% {
    filter: drop-shadow(0px 5px 10px rgb(255, 0, 0, 1));
    stroke-opacity: 1;
  }
 
}

@keyframes greenshadow {
  0% {
    filter: drop-shadow(0px 5px 10px rgb(0, 255, 0, 0.1));
    stroke-opacity: 0.1;
  }

  10% {
    filter: drop-shadow(0px 5px 10px rgb(0, 255, 0, 0.2));
    stroke-opacity: 0.2;
  }

  20% {
    filter: drop-shadow(0px 5px 10px rgb(0, 255, 0, 0.3));
    stroke-opacity: 0.3;
  }

  30% {
    filter: drop-shadow(0px 5px 10px rgb(0, 255, 0, 0.4));
    stroke-opacity: 0.4;
  }

  40% {
    filter: drop-shadow(0px 5px 10px rgb(0, 255, 0, 0.5));
    stroke-opacity: 0.5;
  }
  50% {
    filter: drop-shadow(0px 5px 10px rgb(0, 255, 0, 0.6));
    stroke-opacity: 0.6;
  }
  60% {
    filter: drop-shadow(0px 5px 10px rgb(0, 255, 0, 0.7));
    stroke-opacity: 0.7;
  }
  70% {
    filter: drop-shadow(0px 5px 10px rgb(0, 255, 0, 0.8));
    stroke-opacity: 0.8;
  }
  80% {
    filter: drop-shadow(0px 5px 10px rgb(0, 255, 0, 0.9));
    stroke-opacity: 0.9;
  }
  90% {
    filter: drop-shadow(0px 5px 10px rgb(0, 255, 0, 0.95));
    stroke-opacity: 0.95;
  }
  100% {
    filter: drop-shadow(0px 5px 10px rgb(0, 255, 0, 1));
    stroke-opacity: 1;
  }
 
}






@keyframes MagicKingdom {
  0% {
    stroke: red;
  }
  14% {
    stroke: orange;
  }
  28% {
    stroke: yellow;
  }
  43% {
    stroke: lime;
  }
  57% {
    stroke: blue;
  }
  71% {
    stroke: blueviolet;
  }
  85% {
    stroke: magenta;
  }
  100% {
    stroke: red;
  }
}




td, th {
  text-align: left;
  padding: 3px;
}

tr:nth-child(odd) {
  background-color: #e0e0e0;
}
